{
  "presets": [
    [
      "@babel/preset-env",
      // {
      //   "targets": {
      //     "browsers": [
      //       "last 2 versions",
      //       "IE >= 11"
      //     ]
      //   },
      //   "modules": false,
      //   "loose": true
      // },
      // "es2015",
      // "stage-0"
    ]
  ],
  "plugins": [
    // "transform-object-rest-spread",
    // "syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}